@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Foldit&display=swap');

 
 *{
    padding:0px;
    margin:0px;
}
body{
    scroll-behavior: smooth;
}
header{
    width:100%;
    height:100vh;
    overflow: hidden;
    position:absolute;
    top:0px;
    display:flex;
    align-items: center;
    justify-content:center;

}
 #headervid{
    width:100%;
    position:absolute;
    bottom:-40px;
    filter:brightness(40%);
}
#navbar{
    width:100%;
    height:60px;
    background-color: black;
    position:absolute;
    top:0px;
    z-index:1;
    display:flex;
    justify-content: start;
    column-gap:50px;
    align-items: center;

}
img{
    width:60px;
    margin-left:30px;
}
h4{
    color:white;
    text-decoration: none;
    font-family: 'Libre Baskerville', serif;
    letter-spacing: 3px;
    cursor:pointer;
}
h4:hover{
    color:red;
}
#login{
    position:absolute;
    right:20px;
}
#morning{
    font-size: 80px;
    font-family: 'Libre Baskerville', serif;
    z-index: 2;
    color:white;
    letter-spacing: 10px;
    text-shadow: 5px 5px 5px black;
    position:absolute;
    top:200px;
    animation:heading 2s ease-in-out 1; 
}
@keyframes heading {
    from{
        transform: translate(-800px);
        filter: opacity(0.5);
    }
    to{
        transform: translate(0px); 
        filter: opacity(5);
    }
}
#searchbar{
    width:80%;
    height:40px;
    background-color:white;
    z-index: 3;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 5px 5px  5px black;
    position:absolute;
    top:350px;
    animation:searchbaranim 2s ease-in-out 1; 


}
@keyframes searchbaranim {
    from{
        transform: translate(800px);
    }
    to{
        transform: translate(0px);
    }
}
#searchtext{
    width:90%;
    height:40px;
    border:none;
    outline:none;
    color:blueviolet;
   
}
i{
cursor:pointer;
}
#godown{
    
    font-size: 60px;
    z-index: 4;
    font-family: 'Foldit', cursive;
    position: absolute;
    bottom:0px;
    cursor:pointer;
} 
#latestsectionbar{
    width:100%;
    height:100vh;
    background-color: rgb(80, 80, 80);
    position:absolute;
    top:100vh;
    display:flex;
    align-items: center;
    justify-content: space-evenly;

}
footer{
    width:100%;
    height:80px;
    position:absolute;
    top:300vh;
    background-color: gray;
    display: flex;
    align-items: center;

}
.fa-brands{
    font-size: 30px;
    padding-left: 30px;
    position: relative;
    left:35vw;
}
#copyrt{
    font-size: 16px;
    font-weight: bold;
    padding-left: 30px;
}
#shoesec{
    width:100%;
    height:430vh;

}
#leftshoesec,#rightshoesec,#leftshoesec2,#rightshoesec2,#leftshoesec3{
    background-color: silver;
    width:100%;
    height:80vh;
    position: absolute;
    top:100vh;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.shoeimg{
    width:40%;
    transform: rotateY(180deg)rotate(-45deg);
    filter: drop-shadow(5px 5px 5px black);
    animation: moveshoeleft 30s infinite linear;
    transition: all 0.5s;
}
@keyframes moveshoeleft {
    0%,100%{
        transform: translate(0px,0px) rotateY(180deg) rotate(-15deg);
    }
    25%,75%{
        transform: translate(50px,50px) rotateY(180deg) rotate(-45deg);
    }
    
} 
@keyframes moveshoeright {
    0%,100%{
        transform: translate(0px,0px) rotateY(0deg) rotate(-15deg);
    }
    25%,75%{
        transform: translate(50px,50px) rotateY(0deg) rotate(-45deg);
    }
    
} 
#spec{
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}
.shoename{
    font-size: 5vw;
    letter-spacing: 10px;
    text-shadow: 2px 2px 2px black;
    color:orange;
}
.shoepara{
    color: black;
    font-weight: bold;
    font-size: 18px;
}
.shoeprice{
    color:lawngreen;
    text-shadow: 2px 2px 5px black;
    font-size: 30px;
}
.button{
    width:200px;
    height: 30px;
    border-radius: 200px;
    letter-spacing: 5px;
    border: none;
    box-shadow: 5px 5px 5px black;
    background-color: orange;
    cursor: pointer;
}
.button:hover{
    animation: giggle 0.2s;
}
#rightshoesec{
top:180vh;
}
img{
    z-index: 3;
}
#rightshoe1{
    transform: rotateY(150deg) rotate(45deg);
    animation: moveshoeright 15s infinite linear;
    position: relative;
    right:100px;
    bottom:20px;
    transition: all 0.5s;
}
#rightshoe1:hover{
    transform: rotateY(0deg)  rotate(-45deg) scale(1.2);
    animation:none;
}
#rightshoesec,#rightshoesec2{
    background-color: black;
    height:80vh;
}
#rightpara{
    color:white;
}
#leftshoesec2{
top:260vh;
}
#rightshoesec2{
    top:340vh ;
}
#leftshoesec3{
    top:420vh;
    }
footer{
    top :500vh;
}
